<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drilldown WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Drilldown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DrilldownData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Glance - Drilldown Watch Kit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - Drilldown WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF061EC31C4AE4AD0088AC49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF061ECC1C4AE4AD0088AC49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8DCD7A1C437DF5009570C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8DCD8E1C437DF5009570C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8DCD991C437DF5009570C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8DCDA21C437DF6009570C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA621FB1C4ACCCB00087CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA622041C4ACCCC00087CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA6221E1C4ACD3C00087CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
